.question-table table {
  border: 2px #000 solid;
  border-collapse: collapse;
}

.question-table th,td{
  border: 1px #000 solid;
  width: 65px;
  height: 65px;
  font-size: 1.5rem;
}

@media print {
  .no-print {
    display: none;
  }

  .question-table:not(:last-child) {
    break-after: page;
  }
}