.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.question-table table {
  border: 2px #000 solid;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  border-collapse: collapse;
}

.question-table tr td{
  min-width: 70px;
  height: 70px;
  border: 1px #000 solid;
}

@media print {
  .no-print {
    display: none;
  }

  .question-table:not(:last-child) {
    break-after: page;
  }
}