@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.title-container h1 {
  text-align: center;
  font-size: 5rem;
  margin: 20px 0;
}

.generate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
  padding: 50px;
  border-radius: 15px;
  justify-content: space-evenly;
}

.generate-container button {
  font-size: 3rem;
  border: none;
  cursor: pointer;
}

.generate-container .minus, .plus {
  margin: 0 30px;
}

.generate-container .generate-button {
  box-shadow: 0px 5px 0px 0px #777777;
  transition: all 0.1s ease;
  padding: 10px 30px;

  &:active {
    box-shadow: 0px 0px 0px 0px #777777;
    transform: translateY(5px);
  }
}

.counter {
  display: flex;
  align-items: center;
}

.counter h3{
  font-size: 7rem;
}

.counter button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}